@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.stripes {
	width: 46px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOUlEQVQYV43MQQ4AIAgDQfv/R4OYaFChsOfJYvQSNJxMgwouZDMGD2LwQhn8UARD9MIUeUjRhiUyqPw8Cgq7TDlmAAAAAElFTkSuQmCC);
	opacity: 0.1;
	z-index: -1;
}

.stripe-pattern {
	z-index: -1;
	border-width: 0 1px;
	background: repeating-linear-gradient(
		-45deg,
		#f3f4f6,
		/* Light gray color */ #f3f4f6 1px,
		white 1px,
		white 5px
	);
}

.second-last-child:nth-last-child(2) {
	@apply border-b-0;
}
